@import url('https://fonts.googleapis.com/css2?family=Varta:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Varta, sans-serif;
    font-size: 1.2em;
    color: darkslateblue;
    background: #fff;
}

header {
    margin: 0 auto;
    max-width: 500px;
}

body {
    font-family: Varta, sans-serif;
    font-size: 1.2em;
    color: darkslateblue;
    background: #fff;
}

h1 {
    color: purple;
    border-bottom: 4px solid darkslateblue;
    text-align: center;
    font-size: 1.2em;

}

form {
    width: 350px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid darkgray;
    border-radius: .5rem;
    background-color: lightgray;
    display: grid;
}

fieldset {
    display: grid;
    grid-gap: .5rem;
    padding: .5rem;
    margin: .5rem;
}

legend {
    padding: .5rem;
    color: black;
    font-size: 1.3em;
}

label {
    text-align: right;
    padding-right: 1rem;
}

input, select, textarea {
    padding: .5rem;
    font-size: .8rem;
}

input [type="checkbox"] {
    vertical-align: bottom;
    width: 25px;
    height: 25px;
}

button {
    margin: 1rem;
    background-color: #fff;
    color: black;
    border: none;
    border-radius: .5rem;
    padding: 5px;
    font-size: 1.2rem;
}

button:hover {
    background-color: darkslateblue;
}

footer {
    max-width: 700px;
    text-align: center;
    font-size: .75em;
    color: #333;
    border-top: 4px solid darkslateblue;
    margin: 0 auto;
}

.form-item {
    display: grid;
    align-items: center;
}

.column1 {
    grid-template-columns: 3fr 1fr;
    margin: 5px;
}

.column2 {
    grid-template-columns: 1fr 2fr;
}