nav {
    background-color: steelblue;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

nav a {
    color: white;
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
}

h1 {
    color: steelblue;
    border-bottom: solid 1px steelblue;
}

main img {
    width: 150px;
    height: auto;
    float: right;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    margin: 10px;
}

p {
    padding: 0;
}

aside {
    width: 20rem;
    position: relative;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    align-items: center;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;

}

aside h2 {
    position: absolute;
    right: 0;
    left: 0;
    color: #fdfdfe;

}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}

main {
    grid-column: 2 / 3;
    margin: 1rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Class Selectors */
.box {
    padding: 1rem;
    border: 2px solid rgba(0, 0, 0, 0.1);
    margin: 1rem;
    background-color: #F0F8FF;
    color: #000;
}

header, footer, .grid {
    max-width: 840px;
    margin: 0 auto;
}

.grid {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;

}
/* Last modified 20 March 2024 */